# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# Node
node_modules/
dist/
*.log

# Env files
.env*
!.env.example

# OS
.DS_Store
Thumbs.db

# Jupyter/IPynb
.ipynb_checkpoints/

# Testing & Coverage
.coverage
coverage.xml
htmlcov/
pytest_cache/

# Docker
*.pid
*.sock
